/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

@font-face {
    font-family: 'Raleway';
    src: url(fonts/Raleway-Light.ttf) format('truetype');
}

html,body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
  color: #aeaeae;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

.container{
  margin: 0;
  max-width: 100%;
  padding: 0;
  height: 100%;
}

.row{
  margin: 0;
  max-width: 100%;
  padding: 0;
}

h1{
  margin: 0;
}

.whiteHeader{
  background-color: white;
  height: 6em;
  border-bottom: 2px solid #aeaeae;
}

.headerLabel{
  margin-left: .1em;
  margin-top: .5em;
  color: #aeaeae;
  text-decoration: none;
}

a.headerLabel:hover{
  color: #aeaeae;
  text-decoration: none;
}

.headerLabelSmall{
  margin-top: .8em;
  margin-left: 1em;
}

.titleLabel{
  margin-top: .5em;
  color: #aeaeae;
  text-align: right;
}

// .whiteSidebar{
//   height: 100%;
//   padding-top: 1em;
//   background-color: white;
//   border-right: 2px solid #aeaeae;
// }

.scrollView{
  background: linear-gradient(to top, #0077eb, #389dff);
  height: 90%;
  width: auto;
  overflow-x: scroll !important;
  overflow-y: hidden;
  display: flex !important;
  flex-wrap: nowrap !important;
  padding-right: 4em;
}

.gradientBackground{
    background: linear-gradient(to top, #0077eb, #389dff);
    height: 90%;
}

.whiteList{
  margin: 3em 0 4em 4em;
  padding: 1em;
  background-color: white;
  border: 2px solid #aeaeae;
  border-radius: 25px;
  height: 85%;
  overflow-y: auto;
  max-width: 20em;
  min-width: 20em;
}

// .listHeader{
//   //position: fixed;
// }

.listTitle{
 font-size: 1.5em;
 color: #858585;
}

.centerTitle{
  text-align: center;
  padding: 0;
  margin: 0;
}

.listBody{
  padding-top: 30px;
}

.iconSmall{
  height: 35px;
  width: 35px;
}

.iconNormal{
  height: 35px;
  width: 35px;
}

.adjustIconUp{
  margin-top: -8px;
}

.adjustIconDown{
  margin-top: 8px;
}

.endSpacer{
  min-width: 4em !important;
}


//Form css

.editorListTitle{
  padding: 25px 0 25px 0;
  margin-left: 3em;
  color: white;
}

.editorListBody{
  padding: 25px 0 25px 0;
  margin: 0 3em 0 3em;
  color: white;
}

.formSubmitButton{
  border-radius: 5px;
  margin-left: 3em;
  color: white;
}


//Media breakpoint 900
//Min width containers
  @media screen and (max-width: 900px) {
    .headerLabel{
      font-size: 2em;
      margin-left: 1em;
      margin-top: .8em;
    }

    .headerLabelSmall{
      font-size: 2em;
      margin-top: .8em;
      margin-left: 1em;
    }

    .titleLabel{
      font-size: 2em;
      margin-top: .8em;
    }

  }

  @media screen and (max-width: 500px) {
    .headerLabel{
      font-size: 1.5em;
      margin-left: 0;
      margin-top: 1.3em;
    }

    .headerLabelSmall{
      font-size: 2em;
      margin-top: .8em;
      margin-left: 1em;
    }

    .titleLabel{
      font-size: 2em;
      margin-top: .8em;
    }
  }

  /* Smartphones (portrait and landscape) ----------- */
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .whiteHeader{
      height: 10em;
    }

    .headerLabel{
      font-size: 5em;
      margin-left: 0;
      margin-top: .4em;
    }

    .headerLabelSmall{
      font-size: 2em;
      margin-top: .8em;
      margin-left: 1em;
    }

    .titleLabel{
      font-size: 5em;
      margin-top: .4em;
    }

    .iconSmall{
      height: 50px;
      width: 50px;
    }

    .iconNormal{
      margin: .5em 0 0 .8em;
      height: 80px;
      width: 80px;
    }

    .listTitle{
     font-size: 5em;
    }

    .whiteList{
      margin: 4em 0 4em 4em;
      max-width: 80%;
      min-width: 80%;
    }

    .listBody{
      font-size: 3em;
    }
  }
  /* iPads (portrait) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .scrollView{
      height: 100%;
    }

    .iconNormal{
      margin: .5em 0 0 .8em;
      height: 80px;
      width: 80px;
    }

    .listTitle{
     font-size: 3em;
    }

    .whiteList{
      margin: 4em 0 4em 4em;
      max-width: 80%;
      min-width: 80%;
    }

    .listBody{
      font-size: 3em;
      padding: 1em;
    }
  }
